#crear{
    border: 1px solid black;
    width: fit-content;
}

#crear div{
    margin: 10px;
}
#crear label{
    font-weight: bold;
    margin-right: 7px;
}

#crear #genero-container{
    display: flex;
    flex-direction: column;
}

#crear button{
    margin: 10px;
}

#crear #msg-creado{
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#crear #msg-creado h3{
    color: wheat;
    font-weight: bold;
}
.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  