
<form class='row' id="crear" [formGroup]='cliente' ngNativeValidate (ngSubmit)='handleCreate()'>
    <div class="col-12 col-md-7">
        <label for="nombre" class="form-label">Nombres</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ejemplo: Carlos Ignacio" formControlName='name' required>
      </div>

      <div class="col-12 col-md-7">
        <label for="apellido" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="apellido" placeholder="Ejemplo: Gonzales Fernandez" formControlName='lastName' required>
      </div>

      <div class="col-12 col-md-7" id="genero-container">
        <label>Genero</label>
        <div><input type="radio" value="hombre" formControlName='genero'> Hombre</div>
        <div><input type="radio" value="mujer" formControlName='genero'> Mujer</div>
        <div><input type="radio" value="otro" formControlName='genero'> Otro</div>
      </div>

      <div class="col-12 col-md-7">
          <label for="pais">Pais </label>
        <select formControlName='pais' class="form-select" id="pais" required> 
            <option *ngFor='let item of paises' [value]="item">{{item}}</option>
        </select>
      </div>

      <div class="col-12 col-md-7">
          <label for="ciudad">Ciudad </label>
        <select formControlName='ciudad' class="form-select" id="ciudad" required>
            <option *ngFor='let item of ciudades[cliente.get("pais")?.value]' value="item">{{item}}</option>
        </select>
      </div>

      <div class="col-12 col-md-7">
        <button class="btn btn-primary" type="submit">Crear</button>
        <button class="btn btn-primary" (click)='resetForm()' type="button">Cancelar</button>
    </div>

    <div class="col-12 col-md-3 offset-md-2 slide-right" id="msg-creado" *ngIf='showMessage'>
      <h3>Cliente creado!</h3>
    </div>
        
    </form>

