
<nav>
    <ul>
        <li><a routerLink="vistacard" [ngClass]='{active: route.url=="/vistacard"}'><i class="fas fa-bars"></i> Vista card</a></li>
        <li><a routerLink="lista" [ngClass]='{active: route.url=="/lista"}'><i class="fas fa-bars"></i> Lista</a></li>
        <li><a routerLink="adicionar" [ngClass]='{active: route.url=="/adicionar"}'><i class="far fa-plus-square"></i> Adicionar</a></li>
    </ul>
</nav>