

nav ul{
    padding-left: 0px;
    list-style: none;
    display: flex;
}
nav ul li{
    margin: 20px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.active{
    color: rgb(91, 137, 245) !important;
}