#vista-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card{
    width: 400px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.card .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card h5{
    font-weight: bold;
}

.card img{
    width: 100px;
    height: 100px;
}