
<div id="vista-card">
    <div class="card container-fluid" *ngFor="let item of clientes">
        <div class="row">
            <div class="col-6">
                <img [src]="imgsrc[item.genero]" alt="perfil">
            </div>
            <div class="col-6 info">
                <h5>{{item.nombres}} {{item.apellidos}}</h5>
                <h5>{{item.pais}}, {{item.ciudad}}</h5>
            </div>
        </div>
    </div>
</div>