
<div id="lista">
    <div class="row" id="cabecera">
        <div class="col-3">Nombre Completo</div>
        <div class="col-3">Genero</div>
        <div class="col-3">Pais</div>
        <div class="col-3">Ciudad</div>
    </div>
    <div class="cliente row" *ngFor='let item of clientes'>
        <div class="col-3">{{item.nombres}} {{item.apellidos}}</div>
        <div class="col-3">{{item.genero}}</div>
        <div class="col-3">{{item.pais}}</div>
        <div class="col-3">{{item.ciudad}}</div>
    </div>
</div>